<nav class="nav">
    <a class="title" href="">T3</a>
    <ul class="nav-links">
        <li><a href="">Register</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Logout</a></li>
    </ul>
</nav>